.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-banner {
  width: 90%;
}

.ad-image {
  width: 100%;
}

.ad-banner {
  width: 100%;
}

.product-img {
  width: 80%;
}

.product-name {
  text-transform: uppercase;
  text-align: left;
  margin-bottom: -55px;
}

.product-price {
  font-size: 25px;
  font-weight: 800;
  color: #5CB149;
  text-align: left;
  margin-bottom: -1px;
}

.footer-bg {
  background-color: black;
  padding-left: 5px;
}

.footer-bg h2 {
  color: #5CB149;
  text-align: left;
  text-transform: uppercase;
}

.footer-bg h5 {
  color: #d4dad3;
  text-align: left;
  text-transform: capitalize;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
